/* You can add global styles to this file, and also import other style files */
@import 'assets/fonts/fonts.css';

:root{
  --accent: #33a9e2;
}

body{
  width: 100%;
  background-color:black;
  scroll-padding-top: 50px;
  overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6{
  font-family: "AvenirNextBold";
  color: white;
  text-transform: uppercase;
}

.navbar{
  background-color: black;
  width: 100%;
}

p{
  font-family: Helvetica, Arial, sans-serif;
}

section, footer{
    width: 100%;
}


.navbar-dark .navbar-nav .nav-link {
  color: rgba(255,255,255,.75);
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: var(--accent);
}


.navbar-toggler:hover{
  outline: var(--accent) solid;
}


div.bar{
  width: 45%;
  height: 15px;
  margin: 2.5rem 0;
  margin-left: auto;
}


div.bar.full-bar{
  width: 100%;
}

.bg-black{
  background-color: black;
  color: white;
}

.bg-white{
  background-color: white;
  color: black;
}


.home{
  background-image: url('assets/images/home.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #060606;
  height: 100vh;
}
  

  
.passion{
  color: var(--accent);
  font-family: MinionPro;
  text-transform: capitalize;
  font-size: 1em;
  text-shadow: black 2px 2px 1px;
}
  
  
.caption{
    text-transform: capitalize;
    text-align: center;
    color: white;
    font-size: 2rem;
    font-family: "AvenirNextBold", sans-serif;
}

.card-parent{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;

} 

.service-card{
  flex: 1 1 175px;
  margin: 0.75rem;
  padding: 0.5rem;
  border-radius: 0;
  background-color: black;
  color: white;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center; 
}

.collab-logo{
  width: 100%;
  padding: 1rem;
}

#email-address{
  text-transform: lowercase;
  font-size: 2rem;
}
  

#linkedin{
  font-size: 1.25rem;
  font-family: "AvenirNextBold", sans-serif;
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
}

#linkedin>a,#email-address>a{
  color: white;
}

#linkedin>a:hover,#email-address>a:hover{
  color: var(--accent);
}

#linkedin>a:visited,#email-address>a:visited{
  color: white;
}



#linkedin-logo {
  fill: white;
  width: 24px;
  height: 24px;
}

#footer-logo{
  width: 200px;
  padding: 1rem;
}


@media screen and (max-width: 1024px) {
  .home{
    background-image: url('assets/images/home-mobile.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media screen and (max-width: 768px) {

  #email-address{
    font-size: 1.5rem;
  }

  #footer-logo{
    width: 200px;
  }

  #linkedin-logo {
    fill: white;
    width: 24px;
    height: 24px;
  }
  
  #linkedin{
    font-size: 1rem;
    white-space: nowrap;
  }

  div.bar{
    height: 10px;
  }
}

@media screen and (max-width: 576px) {

  #footer-logo{
    width: 150px;
  }

  #email-address{
    font-size: 1rem;
  }

  #linkedin-logo {
    fill: white;
    width: 16px;
    height: 16px;
  }
  
  #linkedin{
    font-size: 0.7rem;
    white-space: nowrap;
  }
}
