@font-face {
  font-family: "MinionPro";
  src: url("./MinionPro-BoldIt.otf");
  font-display: swap;
}

@font-face {
  font-family: "AvenirNextBold";
  src: url("./AvenirNext-Bold-01.ttf") ;
  font-display: swap;

}
